elpa
*.html
*.tex
*.pdf
*.org#
sandbox
el-get
/html-clip-w32.py
/ac-comphist.dat
auto-save-list/
uservar
test
.DS_STORE
ltximg
/.session
/history
/ido.last
/org-clock-save.el
/recentf
/smex-items
/user/.org-id-locations
/#words.el#
/user/ac-comphist.dat
/user/bookmarks
/user/recentf
/user/smex-items
*.eld#
/user/url/cache
/user/.last-package-update-day
/user/.historian
/userplaces
/userbackups

user/projectile-bookmarks.eld
